<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdai.fe.mapper.JobMapper">
    <select id="getJobs" resultType="com.bdai.fe.entity.Job">
        select * from job
    </select>

    <select id="getJobById" parameterType="java.lang.Integer" resultType="com.bdai.fe.entity.Job">
        select * from job
        where id = #{id }
    </select>


    <delete id="delJobById" parameterType="java.lang.Integer">
        delete from `job` where id = #{id}
    </delete>

    <update id="updateStatus" >
        update job set progress = #{code}
        where id = #{jobId }
    </update>

    <insert id="jobSave" parameterType="com.bdai.fe.entity.Job" keyProperty="id" useGeneratedKeys="true">
        insert ignore into `job` (sid, excutor_id ,dataset_name )
        values (#{sid },#{excutor_id },#{dataset_name })
    </insert>

    <insert id="jobStreamSave" parameterType="com.bdai.fe.entity.JobStream">
        insert ignore into `job_Stream` (ip, port, topic, pid )
        values (#{ip },#{port },#{topic },#{pid })
    </insert>
</mapper>